body {
    font-family: 'Calibri', sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f0f0f0;
}

.container {
    text-align: center;
}

input[type="text"] {
    padding: 10px;
    border-radius: 10px;
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#addTasks {
    background-color: green;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

#addTasks:hover {
    background-color: darkgreen;
}

ul {
    list-style-type: none;
    padding: 0;
}

 li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
} 

span{
    text-decoration: none;
    opacity: 1;
    transition: 0.4s ease;
}
span[status="true"]{
    text-decoration: line-through;
    opacity: 0.4;
}


.deleteTask {
    background-color: red;
    color: white;
    padding: 5px 10px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: auto; /* Push to the end */
    margin-right: 10px; 
    text-decoration: none;
    z-index: 3;
}


.deleteTask:hover {
    background-color: darkred;
}

.check {
    margin-left: 10px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 2px solid #ccc;
    cursor: pointer;
}

.check:checked {
    background-color: green;
    border-color: green;
}

